result 
> show running-config

Wed Nov 29 10:50:12.027 UTC
Building configuration...
!! IOS XR Configuration version = 6.3.2.19I
!! Last configuration change at Tue Nov 28 01:43:03 2017 by root
!
!
router ospf VISA-OSPF
 nsr
 router-id 1.1.2.6
 segment-routing mpls
 bfd minimum-interval 50
 bfd fast-detect
 bfd multiplier 3
 segment-routing forwarding mpls
 fast-reroute per-link
 nsf ietf
 timers throttle lsa all 0 100 1000
 timers throttle spf 10 100 1000
 timers lsa min-arrival 0
 timers pacing flood 5
 auto-cost reference-bandwidth 100000
 area 0
  bfd minimum-interval 50
  bfd fast-detect
  bfd multiplier 3
  mpls traffic-eng
  interface Loopback0
   prefix-sid absolute 16126
  !
  interface HundredGigE0/0/0/0
   bfd fast-detect
   cost 638
   network point-to-point
   fast-reroute per-prefix
!   fast-reroute per-prefix ti-lfa enable
!   fast-reroute per-prefix tiebreaker node-protecting index 2
   hello-interval 1
  !
  interface HundredGigE0/0/0/1
   bfd fast-detect
   cost 699
   network point-to-point
   fast-reroute per-prefix
!   fast-reroute per-prefix ti-lfa enable
!   fast-reroute per-prefix tiebreaker node-protecting index 2
   hello-interval 1
  !
  interface HundredGigE0/0/0/2
   bfd fast-detect
   cost 10269
   network point-to-point
   fast-reroute per-prefix
!   fast-reroute per-prefix ti-lfa enable
!   fast-reroute per-prefix tiebreaker node-protecting index 2
   hello-interval 1
  !
  interface HundredGigE0/0/0/3
   bfd fast-detect
   cost 7800
   network point-to-point
   fast-reroute per-prefix
!   fast-reroute per-prefix ti-lfa enable
!   fast-reroute per-prefix tiebreaker node-protecting index 2
   hello-interval 1
  !
  segment-routing mpls
 !
!
