result 
> show running-config
Fri Dec  1 15:44:48.565 UTC
Building configuration...
!! IOS XR Configuration version = 6.3.2.19I
!! Last configuration change at Thu Nov 30 13:16:23 2017 by root
!
hostname ASR-OCE-PE1
telnet vrf default ipv4 server max-servers 10
username admin
 group root-lr
 group cisco-support
 secret 5 $1$HeAg$QiodbXUbqUaZHugn48Vni.
 password 7 045802150C2E
!
username root
 group root-lr
 group cisco-support
 secret 5 $1$9ger$uIP3BOExyGbUD4BmHhASj/
!
username cisco
 group root-lr
 group cisco-support
 secret 5 $1$EA7B$zimVGK4DEVvxD073o9Mv80
!
cdp
vrf STORAGE
 description STORAGE-VRF
 address-family ipv4 unicast
  import route-target
   65300:1
  !
  export route-target
   65300:1
  !
 !
!
vrf INTERNET
 description INTERNET-VRF
 address-family ipv4 unicast
  import route-target
   65400:1
  !
  export route-target
   65400:1
  !
 !
!
vrf CORPORATE
 description CORPORATE-VRF
 address-family ipv4 unicast
  import route-target
   65200:1
  !
  export route-target
   65200:1
  !
 !
!
vrf COMMERCIAL
 description COMMERCIAL-VRF
 address-family ipv4 unicast
  import route-target
   65100:1
  !
  export route-target
   65100:1
  !
 !
!
line template vty
 exec-timeout 0 0
!
line default
 timeout login response 30
 exec-timeout 0 0
 telnet transparent
 session-limit 20
 session-timeout 0
!
bfd
 multipath include location 0/0/CPU0
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
!
class-map match-any AF21
 match qos-group 2 
 end-class-map
! 
class-map match-any AF31
 match qos-group 1 
 end-class-map
! 
class-map match-any storage
 match dscp af21 
 end-class-map
! 
class-map match-any AF21-Core-IN
 match mpls experimental topmost 2 
 end-class-map
! 
class-map match-any AF31-Core-IN
 match mpls experimental topmost 3 
 end-class-map
! 
class-map match-any internet-web
 match dscp default 
 end-class-map
! 
class-map match-any Network-Control
 match dscp cs6 cs7 
 match mpls experimental topmost 6 7 
 end-class-map
! 
class-map match-any commerical-CAS-in
 match dscp af21 
 end-class-map
! 
class-map match-any commerical-Auth-in
 match dscp af31 
 end-class-map
! 
class-map match-any internet-commercial
 match dscp af31 
 end-class-map
! 
class-map match-any corporate-best-effort
 match dscp default 
 end-class-map
! 
class-map match-any corporate-voice-video
 match dscp af21 
 end-class-map
! 
class-map match-any Network-Control-Core-IN
 match mpls experimental topmost 6 7 
 end-class-map
! 
policy-map VISA-QOS-OUT
 class AF31
  service-policy af31-out-child
  bandwidth percent 60 
 ! 
 class AF21
  bandwidth percent 20 
 ! 
 class Network-Control
  priority level 1 
  police rate percent 5 
  ! 
 ! 
 class class-default
 ! 
 end-policy-map
! 
policy-map af31-out-child
 class AF31
  priority level 1 
 ! 
 class class-default
 ! 
 end-policy-map
! 
policy-map STORAGE-QOS-INPUT
 class storage
  police rate 5 gbps peak-rate percent 100 
   conform-action set qos-group 2
   exceed-action set qos-group 3
  ! 
 ! 
 class Network-Control
  set qos-group 4
 ! 
 class class-default
  set mpls experimental imposition 0
  set qos-group 3
 ! 
 end-policy-map
! 
policy-map INTERNET-QOS-INPUT
 class internet-commercial
  police rate 5 gbps peak-rate percent 100 
   conform-action set qos-group 1
   exceed-action set qos-group 3
  ! 
 ! 
 class internet-web
  set qos-group 3
 ! 
 class Network-Control
  set qos-group 4
 ! 
 class class-default
  set mpls experimental imposition 0
  set qos-group 3
 ! 
 end-policy-map
! 
policy-map CORPORATE-QOS-INPUT
 class corporate-voice-video
  police rate 1 gbps peak-rate percent 100 
   conform-action set qos-group 2
   exceed-action set qos-group 3
  ! 
 ! 
 class Network-Control
  set qos-group 4
 ! 
 class corporate-best-effort
  set qos-group 3
 ! 
 class class-default
  set mpls experimental imposition 0
  set qos-group 3
 ! 
 end-policy-map
! 
policy-map VISA-QOS-CORE-INPUT
 class AF31-Core-IN
  set qos-group 1
 ! 
 class AF21-Core-IN
  set qos-group 2
 ! 
 class Network-Control-Core-IN
  set qos-group 4
 ! 
 class class-default
  set qos-group 3
 ! 
 end-policy-map
! 
policy-map COMMERCIAL-QOS-INPUT
 class commerical-Auth-in
  police rate 1 gbps peak-rate percent 100 
   conform-action set qos-group 1
   exceed-action set qos-group 3
  ! 
 ! 
 class commerical-CAS-in
  police rate 3 gbps peak-rate percent 100 
   conform-action set qos-group 2
   exceed-action set qos-group 3
  ! 
 ! 
 class Network-Control
  set qos-group 4
 ! 
 class class-default
  set mpls experimental imposition 0
  set qos-group 3
 ! 
 end-policy-map
! 
hw-module bfd-hw-offload enable location 0/0/CPU0
interface Loopback0
 description "ASR-OCE-PE1 Loopback Interface"
 ipv4 address 1.1.1.3 255.255.255.255
!
interface MgmtEth0/RSP0/CPU0/0
 ipv4 address 172.19.104.115 255.255.252.0
!
interface TenGigE0/0/0/0
 description "Connected to ASR-OCE-P1 Te0/0/0/0/0"
 cdp
 mtu 9192
 service-policy input VISA-QOS-CORE-INPUT
 service-policy output VISA-QOS-OUT
 ipv4 address 10.1.0.9 255.255.255.252
 load-interval 30
!
interface TenGigE0/0/0/1
 description "Connected to ASR-OCE-P1 Te0/0/0/0/1"
 cdp
 mtu 9192
 service-policy input VISA-QOS-CORE-INPUT
 service-policy output VISA-QOS-OUT
 ipv4 address 10.1.0.25 255.255.255.252
 load-interval 30
!
interface TenGigE0/0/0/16
 description "COMMERCIAL VRF Interface to STC 1/1"
 mtu 9192
 service-policy input COMMERCIAL-QOS-INPUT
 vrf COMMERCIAL
 ipv4 address 10.1.2.41 255.255.255.252
 load-interval 30
!
interface TenGigE0/0/0/16.100 l2transport
 encapsulation dot1q 100
!
interface TenGigE0/0/0/17
 description "CORPORATE VRF Interface to STC 1/2"
 mtu 9192
 service-policy input CORPORATE-QOS-INPUT
 vrf CORPORATE
 ipv4 address 10.1.2.45 255.255.255.252
 load-interval 30
!
interface TenGigE0/0/0/18
 description "STORAGE VRF Interface to STC 1/3"
 mtu 9192
 service-policy input STORAGE-QOS-INPUT
 vrf STORAGE
 ipv4 address 10.1.2.49 255.255.255.252
 load-interval 30
!
interface TenGigE0/0/0/19
 description "INTERNET VRF Interface to STC 1/4"
 mtu 9192
 service-policy input INTERNET-QOS-INPUT
 vrf INTERNET
 ipv4 address 10.1.2.53 255.255.255.252
 load-interval 30
!
!
policy-global
  planepriority '1000'
end-global
!
route-policy PASSALL
  done
end-policy
!
route-policy STORAGE-IN
  set community (65001:65300)
  done
end-policy
!
route-policy INTERNET-IN
  set community (65001:65400)
  done
end-policy
!
route-policy STORAGE-OUT
  set med igp-cost
  apply PLANE-PRIORITY
  pass
end-policy
!
route-policy CORPORATE-IN
  set community (65001:65200)
  done
end-policy
!
route-policy INTERNET-OUT
  set med igp-cost
  apply PLANE-PRIORITY
  pass
end-policy
!
route-policy COMMERCIAL-IN
  set community (65001:65100)
  done
end-policy
!
route-policy CORPORATE-OUT
  set med igp-cost
  apply PLANE-PRIORITY
  pass
end-policy
!
route-policy COMMERCIAL-OUT
  set med igp-cost
  apply PLANE-PRIORITY
  pass
end-policy
!
route-policy PLANE-PRIORITY
  set med +$planepriority
end-policy
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 172.19.104.1
 !
!
router ospf VISA-OSPF
 nsr
 router-id 1.1.1.3
 segment-routing mpls
 bfd minimum-interval 50
 bfd fast-detect
 bfd multiplier 3
 segment-routing forwarding mpls
 fast-reroute per-link
 nsf ietf
 timers throttle lsa all 0 100 1000
 timers throttle spf 10 100 1000
 timers lsa min-arrival 0
 timers pacing flood 5
 auto-cost reference-bandwidth 100000
 area 0
  bfd minimum-interval 50
  bfd fast-detect
  bfd multiplier 3
  mpls traffic-eng
  segment-routing mpls
  interface Loopback0
   prefix-sid absolute 16103
  !
  interface TenGigE0/0/0/0
   bfd fast-detect
   cost 1
   network point-to-point
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa enable
   fast-reroute per-prefix tiebreaker node-protecting index 2
   hello-interval 1
  !
  interface TenGigE0/0/0/1
   bfd fast-detect
   cost 1
   network point-to-point
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa enable
   fast-reroute per-prefix tiebreaker node-protecting index 2
   hello-interval 1
  !
 !
!
router bgp 65001
 timers bgp 1 3
 bgp router-id 1.1.1.3
 bgp scan-time 5
 address-family ipv4 unicast
  maximum-paths eibgp 2
 !
 address-family vpnv4 unicast
 !
 neighbor-group ibgp
  remote-as 65001
  bfd fast-detect
  bfd multiplier 3
  bfd minimum-interval 50
  timers 1 3
  advertisement-interval 0
  update-source Loopback0
  address-family ipv4 unicast
   next-hop-self
   soft-reconfiguration inbound always
  !
 !
 neighbor-group STORAGE
  remote-as 65013
  bfd fast-detect
  bfd multiplier 3
  bfd minimum-interval 30
  timers 3 9
  advertisement-interval 0
  address-family ipv4 unicast
   send-community-ebgp
   route-policy STORAGE-IN in
   route-policy STORAGE-OUT out
   send-extended-community-ebgp
   next-hop-self
   soft-reconfiguration inbound always
  !
 !
 neighbor-group INTERNET
  remote-as 65013
  bfd fast-detect
  bfd multiplier 3
  bfd minimum-interval 30
  timers 3 9
  advertisement-interval 0
  address-family ipv4 unicast
   send-community-ebgp
   route-policy INTERNET-IN in
   route-policy INTERNET-OUT out
   send-extended-community-ebgp
   next-hop-self
   soft-reconfiguration inbound always
  !
 !
 neighbor-group CORPORATE
  remote-as 65013
  bfd fast-detect
  bfd multiplier 3
  bfd minimum-interval 30
  timers 3 9
  advertisement-interval 0
  address-family ipv4 unicast
   send-community-ebgp
   route-policy CORPORATE-IN in
   route-policy CORPORATE-OUT out
   send-extended-community-ebgp
   next-hop-self
   soft-reconfiguration inbound always
  !
 !
 neighbor-group COMMERCIAL
  remote-as 65013
  bfd fast-detect
  bfd multiplier 3
  bfd minimum-interval 30
  timers 3 9
  advertisement-interval 0
  address-family ipv4 unicast
   send-community-ebgp
   route-policy COMMERCIAL-IN in
   route-policy COMMERCIAL-OUT out
   send-extended-community-ebgp
   next-hop-self
   soft-reconfiguration inbound always
  !
 !
 neighbor 1.1.1.1
  use neighbor-group ibgp
  description ASR-OCC-PE1
  address-family ipv4 unicast
  !
  address-family vpnv4 unicast
  !
 !
 neighbor 1.1.1.2
  use neighbor-group ibgp
  description ASR-SIN-PE1
  address-family ipv4 unicast
  !
  address-family vpnv4 unicast
  !
 !
 neighbor 1.1.1.4
  use neighbor-group ibgp
  description ASR-OCB-PE1
  address-family ipv4 unicast
  !
  address-family vpnv4 unicast
  !
 !
 vrf STORAGE
  rd 65300:3
  bgp bestpath as-path multipath-relax
  address-family ipv4 unicast
   maximum-paths eibgp 2
   label mode per-ce
   redistribute connected
  !
  neighbor 10.1.2.50
   use neighbor-group STORAGE
   address-family ipv4 unicast
   !
  !
 !
 vrf INTERNET
  rd 65400:3
  bgp bestpath as-path multipath-relax
  address-family ipv4 unicast
   maximum-paths eibgp 2
   label mode per-ce
   redistribute connected
  !
  neighbor 10.1.2.54
   use neighbor-group INTERNET
   address-family ipv4 unicast
   !
  !
 !
 vrf CORPORATE
  rd 65200:3
  bgp bestpath as-path multipath-relax
  address-family ipv4 unicast
   maximum-paths eibgp 2
   label mode per-ce
   redistribute connected
  !
  neighbor 10.1.2.46
   use neighbor-group CORPORATE
   address-family ipv4 unicast
   !
  !
 !
 vrf COMMERCIAL
  rd 65100:3
  bgp bestpath as-path multipath-relax
  address-family ipv4 unicast
   maximum-paths eibgp 2
   label mode per-ce
   redistribute connected
  !
  neighbor 10.1.2.42
   use neighbor-group COMMERCIAL
   address-family ipv4 unicast
   !
  !
 !
!
l2vpn
 xconnect group VISA_L2VPN
  p2p VISA1
   interface TenGigE0/0/0/16.100
   neighbor ipv4 1.1.1.2 pw-id 100
   !
  !
 !
!
mpls oam
!
mpls traffic-eng
!
mpls ldp
 router-id 1.1.1.3
!
lldp
!
end

RP/0/RSP0/CPU0:ASR-OCE-PE1#
