result 
> show running-config

Wed Nov 29 11:02:51.334 UTC
Building configuration...
!! IOS XR Configuration version = 6.3.2.19I
!! Last configuration change at Tue Nov 28 01:44:45 2017 by root
hostname ASR-LON-P1
telnet vrf default ipv4 server max-servers 10
username root
 group root-lr
 group cisco-support
 secret 5 $1$9ger$uIP3BOExyGbUD4BmHhASj/
!
username cisco
 group root-lr
 secret 5 $1$vK3F$bUGk.exsoh9u6oFL3tKzk0
!
username admin
 group root-lr
 group cisco-support
 secret 5 $1$HeAg$QiodbXUbqUaZHugn48Vni.
 password 7 045802150C2E
!
cdp
line template vty
 exec-timeout 0 0
!
line default
 timeout login response 30
 exec-timeout 0 0
 telnet transparent
 session-limit 20
 session-timeout 0
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
!
class-map match-any AF21-IN
 match mpls experimental topmost 2 
 end-class-map
! 
class-map match-any AF31-IN
 match mpls experimental topmost 3 
 end-class-map
! 
class-map match-any AF21-OUT
 match qos-group 2 
 end-class-map
! 
class-map match-any AF31-OUT
 match qos-group 1 
 end-class-map
! 
class-map match-any Network-Control
 match mpls experimental topmost 6 7 
 end-class-map
! 
class-map match-any Network-Control-OUT
 match qos-group 4 
 end-class-map
! 
policy-map VISA-QOS-OUT
 class AF31-OUT
  bandwidth percent 60 
 ! 
 class AF21-OUT
  bandwidth percent 20 
 ! 
 class Network-Control-OUT
  priority level 1 
  police rate percent 5 
  ! 
 ! 
 class class-default
 ! 
 end-policy-map
! 
policy-map VISA-QOS-INPUT
 class AF31-IN
  set qos-group 1
 ! 
 class AF21-IN
  set qos-group 2
 ! 
 class Network-Control
  set qos-group 4
 ! 
 class class-default
  set qos-group 3
 ! 
 end-policy-map
! 
interface Loopback0
 description "ASR-LON-P1 Loopback Interface"
 ipv4 address 1.1.2.5 255.255.255.255
!
interface MgmtEth0/RSP0/CPU0/0
 ipv4 address 172.19.104.121 255.255.252.0
!
interface HundredGigE0/0/0/0
 description "Connected to ASR-FRA-P1 Hu0/0/0/0"
 cdp
 mtu 9192
 service-policy input VISA-QOS-INPUT
 service-policy output VISA-QOS-OUT
 ipv4 address 10.1.1.34 255.255.255.252
 load-interval 30
!
interface HundredGigE0/0/0/1
 description "Connected to ASR-OCE-P1 Hu0/0/0/1"
 cdp
 mtu 9192
 service-policy input VISA-QOS-INPUT
 service-policy output VISA-QOS-OUT
 ipv4 address 10.1.1.22 255.255.255.252
 load-interval 30
!
interface HundredGigE0/0/0/2
 description "Connected to ASR-OCB-P1 Hu0/0/0/2"
 cdp
 mtu 9192
 service-policy input VISA-QOS-INPUT
 service-policy output VISA-QOS-OUT
 ipv4 address 10.1.1.26 255.255.255.252
!
interface HundredGigE0/0/0/3
 shutdown
!
interface HundredGigE0/0/0/4
 shutdown
!
interface HundredGigE0/0/0/5
 shutdown
!
interface HundredGigE0/0/0/6
 shutdown
!
interface HundredGigE0/0/0/7
 shutdown
!
interface preconfigure MgmtEth0/RSP0/CPU0/1
 shutdown
!
interface preconfigure MgmtEth0/RSP1/CPU0/0
 shutdown
!
interface preconfigure MgmtEth0/RSP1/CPU0/1
 shutdown
!
interface preconfigure TenGigE0/3/0/0
 shutdown
!
interface preconfigure TenGigE0/3/0/1
 shutdown
!
interface preconfigure TenGigE0/3/0/2
 shutdown
!
interface preconfigure TenGigE0/3/0/3
 shutdown
!
interface preconfigure TenGigE0/3/0/4
 shutdown
!
interface preconfigure TenGigE0/3/0/5
 shutdown
!
interface preconfigure TenGigE0/3/0/6
 shutdown
!
interface preconfigure TenGigE0/3/0/7
 shutdown
!
interface preconfigure TenGigE0/3/0/8
 shutdown
!
interface preconfigure TenGigE0/3/0/9
 shutdown
!
interface preconfigure TenGigE0/3/0/10
 shutdown
!
interface preconfigure TenGigE0/3/0/11
 shutdown
!
interface preconfigure TenGigE0/3/0/12
 shutdown
!
interface preconfigure TenGigE0/3/0/13
 shutdown
!
interface preconfigure TenGigE0/3/0/14
 shutdown
!
interface preconfigure TenGigE0/3/0/15
 shutdown
!
interface preconfigure TenGigE0/3/0/16
 shutdown
!
interface preconfigure TenGigE0/3/0/17
 shutdown
!
interface preconfigure TenGigE0/3/0/18
 shutdown
!
interface preconfigure TenGigE0/3/0/19
 shutdown
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 172.19.104.1
 !
!
router ospf VISA-OSPF
 nsr
 router-id 1.1.2.5
 segment-routing mpls
 bfd minimum-interval 50
 bfd fast-detect
 bfd multiplier 3
 segment-routing forwarding mpls
 fast-reroute per-link
 nsf ietf
 timers throttle lsa all 0 100 1000
 timers throttle spf 10 100 1000
 timers lsa min-arrival 0
 timers pacing flood 5
 auto-cost reference-bandwidth 100000
 area 0
  bfd minimum-interval 50
  bfd fast-detect
  bfd multiplier 3
  mpls traffic-eng
  segment-routing mpls
  interface Loopback0
   prefix-sid absolute 16125
  !
  interface HundredGigE0/0/0/0
   bfd fast-detect
   cost 638
   network point-to-point
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa enable
   fast-reroute per-prefix tiebreaker node-protecting index 2
   hello-interval 1
  !
  interface HundredGigE0/0/0/1
   bfd fast-detect
   cost 5924
   network point-to-point
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa enable
   fast-reroute per-prefix tiebreaker node-protecting index 2
   hello-interval 1
  !
  interface HundredGigE0/0/0/2
   bfd fast-detect
   cost 71
   network point-to-point
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa enable
   fast-reroute per-prefix tiebreaker node-protecting index 2
   hello-interval 1
  !
 !
!
mpls traffic-eng
!
lldp
!
end

RP/0/RSP0/CPU0:ASR-LON-P1#
